<div class="row">
  <div class="col-md-6">
    <h1>{{project.name}}</h1>
    <div id="filters" class="button-group"><div class="button is-checked" data-filter="*">all</div></div>
    <div id="colours" class="button-group"></div>
  </div>
  <div class="col-md-6">
    <div id="embedshare">
      // usage for websites<br/><br/>
        <code>
          //cdn.url.com/lii.js
        </code>
        <br/><br/>
      <span id="package">Download ZIP - All</span>
    </div>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-12">
    <div class="isotope"></div>
  </div>
</div>
<br/><br/>
{{project.infotext}}<a href="{{project.repourl}}" target="_blank"><i class="fa fa-github fa-lg"></i></a> by <a href="{{project.authorwebsite}}" target="_blank">{{project.author}}</a>.
